<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head></head>
<footer th:fragment="common-footer">
    <div class="row">
        <div class="col-sm-12 footer-css">
            <!--<a th:text="#{navbar.fleet.text}" href="/flota"></a>-->
            <!--<a th:text="#{navbar.pricelist.text}" href="/cennik"></a>-->
            <!--<a th:text="#{navbar.reservation.text}" href="/rezerwacja"></a>-->
            <!--<a th:text="#{navbar.regulations.text}" href="/regulamin"></a>-->
            <!--<a th:text="#{navbar.contact.text}" href="/kontakt"></a>-->
            <!--<br/>-->
            <h6>© 2018 Wypożyczalnia samochodów CAR RENT 71</h6>

            <div id="footer-social">
                 <hr>
                <ul class="footer-social-icon ">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</html>