<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head></head>
<body>

<div th:fragment="common-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Car Rent 71</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-header">
                <a class="navbar-brand" th:text="#{navbar.home.text}" href="/"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:text="#{navbar.fleet.text}" href="/flota"></a></li>
                <li><a th:text="#{navbar.pricelist.text}" href="/cennik"></a></li>
                <li><a th:text="#{navbar.reservation.text}" href="/rezerwacja"></a></li>
                <li><a th:text="#{navbar.regulations.text}" href="/regulamin"></a></li>
                <li><a th:text="#{navbar.contact.text}" href="/kontakt"></a></li>
                <form class="navbar-form navbar-left" action="#" th:action="@{/findcar}" method="get">
                    <div class="form-group">
                        <input type="text" name="nameFragment" class="form-control" placeholder="Wyszukaj model"
                               title="Find">
                    </div>
                    <button type="submit" value="Find" class="btn btn-default">Szukaj</button>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:text="#{navbar.coder.text}" href="/coders"></a></li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>