<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>
    <br>
    <div>
        <h3 th:text="#{acceptance.congrats.text}"></h3>
    </div>
    <br>
    <div>
        <img th:src="@{/images/rent.jpg}" width="50%" height="50%" class="center-block" alt="Rent">
    </div>
    <br>
</div>
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>