<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>
    <br>
    <div>
        <h3 th:text="#{acceptance.congrats.text}" ></h3>
    </div>
    <br>
    <div>
        <img th:src="@{/images/rent.jpg}" width="20%" height="20%" class="center-block" alt="Rent">
    </div>
    <br>
    <br>
    <div>
        <h4 style="text-align: center" th:text="#{acceptance.summary.text}"></h4>
    </div>
    <br>
    <div class="col-sm-12">
        <table class="table table-striped">
            <tr>
                <th th:text="#{prices.countDays.text}"></th>
                <th th:text="#{prices.total.text}"></th>
                <th th:text="#{prices.deposit.text}"></th>
            </tr>
            <tr>
                <th th:text="${countDays}"></th>
                <th th:text="${totalPrice}">
                <th th:text="${deposit}"></th>
            </tr>
        </table>
    </div>
    <br>
</div>
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>