<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="serch">
                    <div th:replace="common/search :: common-search"/>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-sm-8 alert alert-danger">
                <h3 th:text="#{car.inaccessible.text}"></h3>
            </div>
            <div>
                <img th:src="@{images/odholowane auto.jpg}" width="30%" height="30%" class="center-block" alt=" ">
            </div>
            <br>
        </div>
    </div>
</div>
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>