<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>
    <div class="cennik">
        <div class="row">
            <h2>Klasa A</h2>
            <div class="col-md-4">
                <img th:src="@{/images/fiatpanda.png}" width="70%" alt="Los Angeles">
            </div>
            <div class="col-md-4">
                <img th:src="@{/images/peugeot208.png}" width="70%" alt="Los Angeles">
            </div>
            <div class="col-md-4">
                <img th:src="@{/images/renaultclio.png}" width="70%" alt="Los Angeles">
            </div>

        </div>

        <!--Nowe Mateusz-->
        <!--<div>-->
            <!--<table>-->
                <!--<tr th:each="price : ${prices}">-->
                    <!--<td th:text="${price.carClassId}"></td>-->
                    <!--<td th:text="${price.day3}"></td>-->
                    <!--<td th:text="${price.day7}"></td>-->
                    <!--<td th:text="${price.day7more}"></td>-->
                    <!--<td th:text="${price.deposit}"></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->


    </div>
</div>
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>