<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head th:replace="common/header :: common-header"/>
<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">{ C O D E || T E A M }</h1>
            <h3>Technologie: Java, Spring, Hibernate, H2, JavaScript, Bootstrap, Css</h3>
            <hr>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img th:src="@{/images/ninja-1.png}" alt="...">
                <div class="caption">
                    <a href="https://github.com/ILuckI"><h3>Lukasz</h3></a>
                    <p style="text-align: center">Full Stack Junior Developer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img th:src="@{/images/ninja-3.png}">
                <div class="caption">
                    <a href="https://github.com/wodzynskimateusz"><h3>Mateusz</h3></a>
                    <p style="text-align: center">Java & Database Junior Developer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img th:src="@{/images/ninja-2.jpg}">
                <div class="caption">
                    <a href="https://github.com/MaOb89"><h3>Marzena</h3></a>
                    <p style="text-align: center">Java & Frondend Junior Developer</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img th:src="@{/images/ninja-4.png}">
                <div class="caption">
                    <a href="https://github.com/tomeklukaszewski"><h3>Tomek</h3></a>
                    <p style="text-align: center">Java & Tester Junior Developer</p>
                </div>
            </div>
        </div>
    </div>


</div>
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>

</html>