<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>
    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">N A S Z A || F L O T A</h1>
            </div>

            <div align="center">
                <button th:text="#{flota.all.text}" class="btn btn-default filter-button" data-filter="all"></button>
                <button th:text="#{flota.classA.text}" class="btn btn-default filter-button" data-filter="a"></button>
                <button th:text="#{flota.classB.text}" class="btn btn-default filter-button" data-filter="b"></button>
                <button th:text="#{flota.classD.text}" class="btn btn-default filter-button" data-filter="d"></button>
                <button th:text="#{flota.classC.text}" class="btn btn-default filter-button" data-filter="c"></button>
            </div>
            <br/>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter a">
                <img th:src="@{/images/fiatpanda.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter a">
                <img th:src="@{/images/peugeot208.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter a">
                <img th:src="@{/images/renaultclio.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter b">
                <img th:src="@{/images/hyundaii30.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter b">
                <img th:src="@{/images/toyotaauris.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter b">
                <img th:src="@{/images/seatleon.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter c">
                <img th:src="@{/images/bmw318.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter c">
                <img th:src="@{/images/peugeot508.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter c">
                <img th:src="@{/images/toyotaavensis.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter d">
                <img th:src="@{/images/peugeotexpert.png}" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter d">
                <img th:src="@{/images/mercedesv.png}" class="img-responsive">
            </div>

        </div>
    </div>
</div>

</body>
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</html>