<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>
    <h3>REGULAMIN WYPOŻYCZALNI SAMOCHODÓW "CAR RENT 71"</h3>

    <h4>Postanowienia ogólne</h4>
    <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Cras pulvinar mattis nunc sed blandit libero volutpat sed. Lorem ipsum dolor sit amet consectetur
        adipiscing elit. Nibh tortor id aliquet lectus proin nibh. Adipiscing elit ut aliquam purus sit amet. Praesent
        semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Lorem ipsum dolor sit amet consectetur
        adipiscing elit duis tristique. Sodales ut eu sem integer vitae justo eget magna fermentum. Sed id semper risus
        in hendrerit gravida. Arcu odio ut sem nulla pharetra diam. Eros in cursus turpis massa tincidunt dui ut. Massa
        tincidunt nunc pulvinar sapien. Purus gravida quis blandit turpis cursus. Quam elementum pulvinar etiam non quam
        lacus.</p>
    <p>
        2. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus. At imperdiet dui accumsan sit amet nulla facilisi
        morbi tempus. In nibh mauris cursus mattis molestie a iaculis at. Scelerisque eu ultrices vitae auctor eu.
        Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Varius quam quisque id diam vel quam
        elementum. Ac tortor dignissim convallis aenean et tortor at risus. Euismod quis viverra nibh cras pulvinar.
        Neque aliquam vestibulum morbi blandit cursus risus. Vestibulum rhoncus est pellentesque elit.</p>
    <p>
        3. Risus ultricies tristique nulla aliquet. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed. Enim
        ut tellus elementum sagittis. Vivamus arcu felis bibendum ut tristique et egestas quis. Maecenas volutpat
        blandit aliquam etiam erat velit. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus.
        Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. Cursus turpis massa tincidunt dui ut
        ornare. Nisi porta lorem mollis aliquam ut porttitor. Quam viverra orci sagittis eu volutpat odio facilisis.
        Vitae aliquet nec ullamcorper sit amet risus nullam eget felis. Turpis egestas pretium aenean pharetra magna ac
        placerat vestibulum. Nunc sed blandit libero volutpat sed cras ornare arcu dui. Tempus iaculis urna id volutpat
        lacus laoreet non curabitur.<p>
    <p>
        4. Facilisi nullam vehicula ipsum a arcu. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent.
        Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget. Mattis enim ut tellus elementum
        sagittis vitae et. Sed viverra tellus in hac. Metus vulputate eu scelerisque felis imperdiet proin fermentum
        leo. Augue lacus viverra vitae congue eu consequat ac felis donec. Ac tincidunt vitae semper quis lectus. Varius
        quam quisque id diam vel quam elementum. Sit amet justo donec enim diam vulputate. Odio eu feugiat pretium nibh
        ipsum consequat nisl vel pretium. Consequat mauris nunc congue nisi vitae suscipit tellus. Aliquet sagittis id
        consectetur purus ut faucibus. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Dolor sit amet
        consectetur adipiscing elit duis tristique sollicitudin nibh. Urna id volutpat lacus laoreet non curabitur
        gravida. Nisi lacus sed viverra tellus in hac habitasse platea. Ornare massa eget egestas purus.</p>
    <p>
        5. Elementum eu facilisis sed odio morbi quis. Curabitur gravida arcu ac tortor dignissim. Vestibulum morbi blandit
        cursus risus at ultrices mi tempus. Nec dui nunc mattis enim ut tellus. Pulvinar pellentesque habitant morbi
        tristique senectus et netus. Ut porttitor leo a diam sollicitudin tempor id eu. Et molestie ac feugiat sed.
        Nulla facilisi etiam dignissim diam quis enim. Sed id semper risus in hendrerit gravida. Porta non pulvinar
        neque laoreet. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Nisi est sit amet facilisis magna
        etiam tempor orci eu. Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Orci phasellus
        egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Facilisis gravida neque convallis a. Consectetur
        a erat nam at lectus. Rhoncus mattis rhoncus urna neque viverra justo. Dapibus ultrices in iaculis nunc sed
        augue lacus viverra vitae. Malesuada fames ac turpis egestas integer eget aliquet nibh.</p>


</div>
</body>
</html>