<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>

    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Rezerwacja Online</h3>
                <hr>
                <form method="post">
                    <div class="form-group ">
                        <label class="control-label requiredField" for="carClass">
                            Klasa
                            <span class="asteriskField">*</span>
                        </label>
                        <select class="select form-control" id="carClass" name="carClass">
                            <option value="Klasa a (np. Fiat Panda)">
                                Klasa a (np. Fiat Panda)
                            </option>
                            <option value="Klasa a (np. Peugeot 508)">
                                Klasa a (np. Peugeot 508)
                            </option>
                            <option value="Klasa a (np. BMW GT)">
                                Klasa a (np. BMW GT)
                            </option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="date">
                            Data wydania
                            <span class="asteriskField">*</span>
                        </label>
                        <input class="form-control" id="date" name="date" placeholder="Wybierz date wydania"
                               type="date"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="date1">
                            Data zwrotu
                            <span class="asteriskField">*</span>
                        </label>
                        <input class="form-control" id="date1" name="date1" placeholder="Wybierz date zwrotu"
                               type="date"/>
                    </div>
                    <hr>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="name">
                            Imię i Nazwisko
                            <span class="asteriskField">*</span>
                        </label>
                        <input class="form-control" id="name" name="name" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="adress">
                            Ulica, numer domu
                            <span class="asteriskField">*</span>
                        </label>
                        <input class="form-control" id="adress" name="adress" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="email">
                            Email
                            <span class="asteriskField">*</span>
                        </label>
                        <input class="form-control" id="email" name="email" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="tel">
                            Numer telefonu
                            <span class="asteriskField">*</span>
                        </label>
                        <input class="form-control" id="tel" name="tel" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="personalId">
                            Numer dowodu
                            <span class="asteriskField">*</span>
                        </label>
                        <input class="form-control" id="personalId" name="personalId" type="text"/>
                    </div>
                    <hr>
                    <div class="form-group ">
                        <label class="control-label ">
                            Dodatki
                        </label>
                        <div class=" ">
                            <div class="checkbox">
                                <label class="checkbox">
                                    <input name="checkbox" type="checkbox" value="Wyjazd za granicę"/>
                                    Wyjazd za granicę
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    <input name="checkbox" type="checkbox" value="Nawigacja"/>
                                    Nawigacja
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    <input name="checkbox" type="checkbox" value="Fotelik dziecięcy"/>
                                    Fotelik dziecięcy
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    <input name="checkbox" type="checkbox" value="Dodatkowy kierowca"/>
                                    Dodatkowy kierowca
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button class="btn btn-success " name="submit" type="submit">
                                Rezerwacja
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>