<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Created by Luck-->
<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <div th:replace="common/navbar :: common-navbar"/>

    <div class="row">
        <div class="col-sm-4">
            <div class="serch">
                <div th:replace="common/booking :: common-booking"/>
            </div>
        </div>
        <div class="col-sm-8">

            <div th:replace="common/carousel :: common-carousel"/>
            <hr>
            <br/>
            <div class="sale">
                <div><img th:src="@{/images/bmw318.png}" width="80%" alt="Sale"></div>
                <h2 th:text="#{index.sale.text}"></h2><br>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. In tellus integer feugiat scelerisque varius morbi enim. Quis hendrerit
                    dolor magna eget est lorem ipsum dolor. Ornare arcu dui vivamus arcu. Congue quisque egestas diam
                    in. Lobortis feugiat vivamus at augue eget arcu dictum varius duis. Leo urna molestie at elementum
                    eu facilisis. Tristique magna sit amet purus gravida quis blandit turpis. Sodales neque sodales ut
                    etiam sit amet nisl purus. Neque gravida in fermentum et. Nullam vehicula ipsum a arcu cursus vitae
                    congue mauris. Enim sed faucibus turpis in eu mi bibendum neque egestas. Aenean et tortor at risus
                    viverra adipiscing at. Pharetra et ultrices neque ornare aenean. Aliquam sem fringilla ut morbi
                    tincidunt augue interdum velit. Ornare arcu odio ut sem nulla pharetra diam sit amet. Quam vulputate
                    dignissim suspendisse in est ante in nibh mauris. Sem nulla pharetra diam sit amet nisl. Imperdiet
                    sed euismod nisi porta lorem mollis aliquam.

                </p>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <div class="show">
                <span class="glyphicon glyphicon-euro"></span>
                <h3 th:text="#{index.minimum.text}"></h3>
                <p>Morbi blandit cursus risus at ultrices mi tempus. Elit ut aliquam purus sit amet luctus. Pretium
                    vulputate sapien nec sagittis. Justo laoreet sit amet cursus sit.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="show">
                <span class="glyphicon glyphicon-heart"></span>
                <h3 th:text="#{index.service.text}"></h3>
                <p >Accumsan tortor posuere ac ut consequat. Pretium aenean pharetra magna ac placerat. Sed adipiscing
                    diam donec adipiscing. Mauris a diam maecenas sed. Nisi lacus sed viverra tellus in.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="show">
                <span class="glyphicon glyphicon-ok"></span>
                <h3 th:text="#{index.choice.text}"></h3>
                <p>Interdum posuere lorem ipsum dolor sit amet. Sit amet luctus venenatis lectus magna fringilla urna.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas. Nulla aliquet porttitor lacus luctus.</p>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <img th:src="@{/images/test4.jpg}" width="100%" alt="Service">
</div>


<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>